html {background-color: #FFF9E4}

h1, h2 {
    color: #807C72;
    font-family: 'Bagel Fat One', cursive;
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

.recipe-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

p {
    background-color: #DFDAC8;
    cursor:pointer;
}

.description {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 37px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;

}